extends ./layout.jade
block content
  div.heading-padded.text-center
    div.col-xs-12.col-sm-6
      h1
        | Upload from computer
      form(action='/u', method='POST', enctype='multipart/form-data')
        input(type='file', name='image').center-block
        br
        input(type='checkbox', name='temporary', checked)
        | Only need temporary hosting?
        br
        button(type='submit').btn.btn-grey
          | upload
    div.col-xs-12.col-sm-6
      h1
        | Retrieve from URL
      form(action='/url', method='POST')
        input(type='url', name='url').form-control
        br
        input(type='checkbox', name='temporary', checked)
        | Only need temporary hosting?
        br
        button(type='submit').btn.btn-grey
          | retrieve
  p.text-center.text-muted
    | Temporary hosting lasts for 1 week.
