doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='/app.css')
    block title
      title i.iili
  body
    nav.home
      a(href='/', title='Home')
        i.fa.fa-3x.fa-home
    h1.text-center
      | i.iili
    div.container
      block content
    footer.padded-top.text-center
      p
        | <a href="https://gitlab.com/kalasi/i.iili.li"><i class="fa fa-code-fork"></i></a>
